<footer class="bg-dark py-3 d-flex justify-content-center align-items-center">
    <div class="container footer-cols">
        <div class="text-center">
          <img src="images/logo-UPV-light.svg" alt="">
        </div>
        <hr>
        <!-- <div class="grid-4 grid">
          <div>
                  <p>
                    <strong>Recursos</strong>
                  </p>
                  <div class="flex flex-col mt-2">
                    <a href="http://www.upv.es/perfiles/estudiante/calendario-academico-va.html" title="Pàgina amb información sobre el calendari acadèmic ">
                          Calendari acadèmic
                        </a><a href="https://riunet.upv.es/" title="Riunet: Portal amb información sobre la producción científica, acadèmica i corporativa de la comunitat universitària ">
                          Tesis, TFG, articles i més
                        </a><a href="http://www.upv.es/perfiles/estudiante/alojamientos-upv-va.html" title="Pàgina amb información per a trobar allotjament ">
                          Allotjaments
                        </a><a href="http://www.upv.es/perfiles/pas-pdi/identidad-corporativa-upv-va.html" title="Pàgina amb tots els elements de la identitat visual corporativa de la UPV ">
                          Identitat corporativa
                        </a><a href="https://sede.upv.es/oficina_tactica" title="La nostra seu electrònica ">
                          Seu electrònica 
                        </a>
                  </div>
                </div><div>
                  <p>
                    <strong>Vida universitària</strong>
                  </p>
                  <div class="flex flex-col mt-2">
                    <a href="http://www.upv.es/entidades/AD/" title="Pàgina de l’àrea d’esports de la UPV ">
                          Esports
                        </a><a href="http://www.upv.es/bib" title="Molt més que llibres. Tot tipus de recursos">
                          Biblioteca
                        </a><a href="https://casadelalumno.blogs.upv.es/" title="Portal amb tot el relatiu a l’alumne ">
                          Casa de l’Alumne
                        </a><a href="http://www.upv.es/organizacion/servicios-universitarios/index-va.html" title="Repositori d’informació amb tots els serveis de la universitat ">
                          Serveis universitaris
                        </a><a href="http://www.upv.es/organizacion/vida-universitaria/concesiones-va.html" title="Llistat de cafeteries i comerços ">
                          Cafeteries i comerços
                        </a><a href="http://www.upv.es/covid-19/index-va.html" title="Informació sobre el COVID-19">
                          COVID-19
                        </a>
                  </div>
                </div><div>
                  <p>
                    <strong>Instal·lacions</strong>
                  </p>
                  <div class="flex flex-col mt-2">
                    <a href="http://www.upv.es/otros/como-llegar-upv/index-va.html" title="Informació amb totes les dades de contacte i direccions dels diferents campus de la UPV ">
                          Com s’hi arriba
                        </a><a href="http://www.upv.es/plano/plano-2d-va.html" title="Pàgina on visualitzar els plànols dels diferents campus de la UPV ">
                          Plànols 2D
                        </a><a href="http://www.upv.es/perfiles/futuro-alumno/galeria-imagenes-upv-va.html" title="Galeria d’imatges amb tots els campus de la UPV ">
                          Galeria d’imatges
                        </a>
                  </div>
                </div><div>
                  <p>
                    <strong>Mitjans</strong>
                  </p>
                  <div class="flex flex-col mt-2">
                    <a href="https://aplicat.upv.es/ndp-app/PaginaNotasUPV.xhtml?p_idioma=v" title="Llistat amb totes les notes de prensa publicades per la UPV ">
                          Sala de premsa
                        </a><a href="http://www.upv.es/noticias" title="Portal de notícies de la UPV">
                          Notícies de la UPV
                        </a><a href="http://www.upv.es/pls/oalu/sic_dir.Cargos?p_idioma=v" title="Llistat amb tots els càrrecs de la UPV ">
                          Cerca un càrrec docent
                        </a><a href="http://www.upv.es/entidades/ACOM/index-va.html" title="Portal de l’àrea de comunicació de la UPV ">
                          Àrea de Comunicació
                        </a>
                  </div>
                </div>
        </div> -->
      </div>
    <!-- <span id="copyright" th:utext="#{copyright}" class="me-2 d-inline-block">Copyright Date Apereo, Inc</span>
    <span class="px-3 d-inline-block">Powered by <a href="https://github.com/apereo/cas">Apereo CAS</a></span>
    <code class="version" th:text="${T(org.apereo.cas.util.CasVersion).getVersion() + ' ' + T(org.apereo.cas.util.CasVersion).getDateTime()}"></code> -->
</footer>
