
  <header>
    <nav class="lang-selector" aria-label="Selección de idioma">
        <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
            th:href="${urlBuilder.replaceQueryParam('locale', 'ca').build().toUriString()}"
            th:class="${#locale.toString()}=='ca' ? 'lang-link lang-link-current' : 'lang-link'"
            href="#"> VA </a>        
        
        <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
            th:href="${urlBuilder.replaceQueryParam('locale', 'es').build().toUriString()}"
            th:class="${#locale.toString()}=='es' ? 'lang-link lang-link-current' : 'lang-link'"
            href="#"> ES </a>        
        
        <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
            th:href="${urlBuilder.replaceQueryParam('locale', 'en').build().toUriString()}"
            th:class="${#locale.toString()}=='en' ? 'lang-link lang-link-current' : 'lang-link'"
            href="#"> EN </a>
    </nav>
    <div class="header-title">
        <a href="https://www.upv.es" alt="Página principal de la Universitat Politècnica de València">
            <i class="logo"></i>
            <i class="logo-mobile">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 812.37 285.47"><defs><style>.cls-1{fill:#cc5450;}</style></defs><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><path class="cls-1" d="M63.37,285.47H192c12.48-5,23.16-11.68,31.79-20.24Q255,234.27,255,167V0H179.33V156.67c0,8.43-.34,17-1,25.82a67.52,67.52,0,0,1-6,23.89A41.85,41.85,0,0,1,157,223.77q-10.29,6.66-29.3,6.68t-29.49-6.68a39.88,39.88,0,0,1-15.35-17.39,70.09,70.09,0,0,1-5.8-23.89c-.68-8.8-1-17.39-1-25.82V0H0V167q0,67.28,31.42,98.22C40.12,273.79,50.84,280.47,63.37,285.47Z"/><path class="cls-1" d="M379.28,285.47V192.61h45q49.29,0,75.5-25.23T526,96.32q0-45.9-26.2-71.09T424.31,0H303.2V285.47Zm0-225.09h25.24q41.91,0,41.92,35.94t-41.92,35.9H379.28Z"/><polygon class="cls-1" points="715.22 285.47 812.37 58.66 812.37 0 754.82 0 683.79 175.4 613.13 0 530.46 0 652.36 285.47 715.22 285.47"/></g></g></svg>
            </i>
        </a>
        <div class="slash"></div>
        <h1 th:text="#{screen.header.title}">Iniciar sesión</h1>
        
    </div>
    <nav class="breadcrumbs" aria-label="navegador"></nav>
</header>
    
